<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureDevOps.OrganizationUrl" value="https://dev.azure.com/cohentsahi" />
    <add key="AzureDevOps.ProjectName" value="cohentzahi_agile" />
    <add key="AzureDevOps.DefaultAssignee" value="Tsahi Cohen" />
  </appSettings>
</configuration> 